.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    z-index: 100;
    background-color: transparent;
}

.navList{
    display: flex;
    gap: 2rem;
    list-style: none;
    font-weight: 500;
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    text-transform: uppercase;
    color: var(--beige);


 }

 .navItem{
color: var(--beige);
     /* text-shadow:
  0 0 1px rgba(255, 75, 90, 0.4),
  0 0 2px rgba(255, 75, 90, 0.6),
  0 0 4px rgba(255, 75, 90, 0.4); */
  }
 

  .navItem:hover, .active{
    color: var(--contrast-color);

  }